.side-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    transition: .5s;
    background-color: white;
    padding: 10px 0px;
    grid-column:  1 / 2;
    z-index: 10;
}

.side-menu > h2{
    padding: 0rem 1rem;
    padding-top: 1rem;
}

.side-menu > .menu-options{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 15px;
}

.side-menu > .menu-options > a{
   padding: .5rem 1.2rem;
   cursor: pointer;
   display: flex;
   align-items: end;
   gap: 1rem;
}
.side-menu > .menu-options > a > span{
    font-size: 20px;
}

.side-menu > .menu-options > a:hover{
    background-color: rgb(200, 230, 242);
}

.side-menu  hr{
    width: 85%;
    margin: .5rem auto;
    opacity: .5;
}

.side-menu > .menu-options > h3{
    color: rgba(0, 0, 0, 0.423);
    margin: .5rem 1.2rem;
    font-size: 13px;
}

#back{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
}

.index-toggle{
    grid-template-columns: 220px 1fr !important;;
}

.disable{
    display: none !important;
}



.min-menu{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: .2rem;
}

.min-menu span{
    font-size: 30px;
}

.min-menu > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: .5rem;
    border-radius: 1rem;
}

.min-menu > a:hover{
    box-shadow: rgba(156, 191, 255, 0.584) 0px 0px 0px 4px
}

.min-menu > a > p{
    font-size: small;
    font-weight: bold;
}
