.navbar{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.navbar > h3{
    align-self: center;
}

.navbar > .menu{
    display: flex;
    justify-content: center;
}

.navbar > .menu > a{
    padding: .5rem;
    font-family: 'Noticia Text', serif;
    color: black;
}

.navbar > .menu > a > .link{
    transition: .3s;
    cursor: pointer;
}

.navbar > .menu > a:hover > .link{
    transform: scale(1.1);
}
