@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.index{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 74px 146px auto;
    grid-template-rows: 60px 50px auto;
    transition: .5s;
    gap: .5rem;
    overflow: hidden;

}

@media only screen and (max-width: 430px) {
    .index{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 0;
        overflow: hidden;
    }
}


