@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.index{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 228px auto;
}