@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.index{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}