
.courses-home{
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    overflow-y: scroll;
    grid-column: 2 / 4;

}

.fixed{
    background-color: white;
    display: flex;
    align-self: center;
    gap: 1rem;
    justify-content: center;
    grid-column: 2 / 4;
    padding: 10px 1rem;
    z-index: 1;
}

.fixed > button{
    padding: .5rem .7rem;
    border-radius: 15px;
    border: none;
}

.courses-home > .slides{
    position: relative;
    display: flex;
    justify-content: center;
}

.courses-home > .slides img{
    border-radius: 10px;
}

.courses-home > .slides > .splide > div{
    border-radius: 10px;
    overflow-X: scroll;
}
.courses-home > .slides > .splide > div::-webkit-scrollbar{
    display: none;
}
.courses-home > .slides > .btns{
    position: absolute;
    display: flex;
    align-self: end;
    align-items: end;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 3rem;
}

.courses-home > .slides > .btns > button{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;  
}
.courses-home > .slides > .btns > button:hover{
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.courses-home > .slides > .btns > button:active{
    transform: translateY(-1px);
}

.courses-home > .upper{
    display: flex;
    align-items: center;
    gap: 20px;
}

.courses-home > .upper > .min-menu{
    display: flex;
    gap: 10px;
    align-items: center;
}

.courses-home > .upper > .min-menu > div{
    display: flex;
    align-items: center;
}

.courses-home > .upper > .min-menu span{
    font-size: 35px;
}

.courses-home > .main-div{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 1rem;
}

.courses-home > .main-div > .section > h2{
    font-size: 25px;
    color: #282828;
    margin: 1rem 0rem;
}

.courses-home > .main-div > .section{
    margin: .5rem;
}

.courses-home > .main-div > .section > .card-container-div{
    display: grid;
    max-width: inherit;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    justify-items: center;
    gap: 30px;
    justify-content: center;
}

.courses-home > .main-div > .section > .card-container-div > .card{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .2s;
    color: #727984;
}

.courses-home > .main-div > .section > .card-container-div > .card > .body > h4{
    color: #484D57;
}

.courses-home > .main-div > .section > .card-container-div > .card > .body > p{
    color: #727984;
}

.courses-home > .main-div > .section > .card-container-div > .card:hover{
 transform: translateY(-8px);
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;   
}

.courses-home > .main-div > .section > .card-container-div > .card > img{
    max-width: 220px;
    align-self: center;
}

.courses-home > .main-div > .section > .card-container-div > .card > .body{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
    height: 100%;
}

.courses-home > .main-div > .section > .card-container-div > .card > .body > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.courses-home > .main-div > .view-more{
    align-self: end;
    color: blue;
}

.courses-home > .main-div > .categories-div{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    margin: 10px;
    padding: 2rem;
    background-color: #f0f4f7;
}

.courses-home > .main-div > .categories-div > section{
    align-self: center;
}

.courses-home > .main-div > .categories-div > section img{
    width: 250px;
}

.active{
    box-shadow: rgba(156, 191, 255, 0.584) 0px 0px 0px 4px
}



@media only screen and (max-width: 770px){
    .fixed > button{
        height: 2rem;
        min-width: 10rem;
    }
    .fixed{
        overflow-y: scroll;
        gap: .5rem;
        justify-content: unset;
        align-self: unset;
        height: fit-content;
    }

    .fixed::-webkit-scrollbar{
        display: none;
    }
}

@media only screen and (max-width: 430px) {
    .courses-home{
        grid-row: 3 /4;
        padding: 1px;
    }
    .fixed{
        margin-top: 60px;
        overflow-y: scroll;
        gap: .5rem;
        justify-content: unset;
        align-self: unset;
        height: fit-content;
    }
    .fixed::-webkit-scrollbar{
        display: none;
    }
    .fixed > button{
        padding: .5rem .7rem;
        border-radius: 15px;
        border: none;
        width: max-content;
        font-size: small;
        height: inherit;
        min-width: 9rem;
    }
    .courses-home > .slides > .btns{
        padding-bottom: 20px;
    }
    
    .courses-home > .slides > .btns > button{
        font-size: 10px;
        padding: .7rem .9rem;
    }

    .courses-home > .main-div > .section{
        margin: 0;
    }
    .courses-home > .main-div > .section > h2{
        font-size: 20px;
        color: #282828;
        margin: 1rem
    }
    .courses-home > .main-div > .categories-div{
        padding: 5px;
    }
    .courses-home > .main-div{
        padding: 0;
    }
    .courses-home > .main-div > .section > .card-container-div{
        display: flex;
        overflow-y: scroll;
        justify-content: space-between;
        padding: .5rem 0px;
    }

    .courses-home > .main-div > .section > .card-container-div::before, .courses-home > .main-div > .section > .card-container-div::after{
        content: '';
    }
    .courses-home > .main-div > .section > .card-container-div::-webkit-scrollbar{
        display: none;
    }
    .courses-home > .main-div > .section > .card-container-div > .card:hover{
        transform: unset;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

       .courses-home > .main-div > .section > .card-container-div > .card:active{
        transform: translateY(-8px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
       }
}





